{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "A dump library",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/thetnaingtn/dump.git"
  },
  "keywords": [
    dump,
    go
  ],
  "license": "MIT OR Apache-2.0",
  "homepage": "https://github.com/thetnaingtn/dump#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}